body{
	background-color: #121212;
	margin: 0px;
	margin: 0px;
	
	box-sizing: border-box;
	font-family: raleway;
}

ul{
	margin: 0px;
	padding: 0px;
}




.header__nav {
background-color: #202020;
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__nav a{
	margin: 10px;
}

.header__nav img{
	height: 30px;
	width: auto;
	justify-self: start;
	margin: 10px;
}

.header__nav__ul{
 	list-style: none;
 	display: inline-block;
 	justify-self: end;
 	margin: 10px
}

.header__nav__li{
	display: inline-block;
	font-size: 17px;
}

.header__nav__li a{
	color: #757575;
	text-decoration: none;
	margin: 15px;
}

.header__nav__li a:hover{
	color: yellow;
}


.footer{
	display: grid;
	width: 100%;
	height: 60px;
}

.footer__nav {
	background-color: #202020;
	width: 100%;
	height: 60px;
	top: 0px;
	left: 0px;
	margin: 0px;
	display: flex;
	justify-content: space-between;
}

.footer__nav a{
	margin: 10px;
}

.footer img{
	margin: 5px;
	width: 30px;
	line-height: 60px;
}

.footer__nav__ul{
	margin: 20px 15px;
}

.footer__nav__li{
	display: inline-block;
	font-size: 17px;
	color: #757575;
}

.footer__nav__li a{
	color: #757575;
	text-decoration: none;
	margin: 15px;
}

.footer__nav__li a:hover{
	color: yellow;
}



.bignav{
	display: grid;
}


.logoprincipal{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.logoprincipal img{
	width: 350px;
	margin: 100px 0px 100px 0px;
}


.linea{
	width: 100%px;
	height: 2px;
	background: linear-gradient(to right, #FFE000, #799F0C);
	margin: 20px 0px 20px 0px;
}


.bignav{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-content: center;
	margin-bottom: 50px;
}

.bignav__fondo{
	width: 100%;
	height: 300px;
}

.bignav__img{
	width: 100%;
	height: 300px;
	object-fit: cover;
	opacity: 0.3;
	z-index: 10;
}

.bignav__nav{
	width: 100%;
	display: flex;
	z-index: 60;
	justify-content: center;
	position: absolute;
	top: 620px;
}


.bignav__nav__ul{
	margin: 20px 15px;
}

.bignav__nav__li{
	display: inline-flex;
	font-size: 60px;
}

.bignav__nav__li a{
	color: white;
	text-decoration: none;
	margin: 20px;
}

.bignav__nav__li a:hover{
	color: yellow;
}





.quienessomos__titulo {
	color: yellow;
	font-size: 50px;
	display: flex;
	justify-content: center;
	margin-top: 100px;
}


.quienessomos__texto p{
	color: white;
	width: 50%;
	text-align: center;
	margin: 0 auto;
}



.quienessomos__profilecontainer{
	width: 1100px;
	display: flex;
	justify-content: center;
	margin: 50px auto;
}

.quienessomos__profileimg img{
	height: 350px;
}

.quienessomos__profiletext{
	color: white;
	text-align: center;
	padding: 20px;
	margin: auto;
}



.servicios__titulo{
	color: yellow;
	font-size: 50px;
	display: flex;
	justify-content: center;
	margin-top: 100px;
}



.servicios__texto{
	color: white;
	width: 100%;
	text-align: center;
	margin: 20px auto 20px auto;
}




.servicios__navstand{
	background-image: url(..//imagenes/render1.jpg);
	background-size: cover;
	width: 100%;
}

.servicios__navproductos{
	background-image: url(..//imagenes/RENDERENCENDEDOR.854.jpg);
	background-size: cover;
	width: 100%;
}

.servicios__navinteriores{
	background-image: url(..//imagenes/F7.jpg);
	background-size: cover;
	width: 100%;
}

.servicios__navgrafico{
	background-image: url(..//imagenes/Screenshot1.jpg);
	background-size: cover;
	margin-bottom: 100px;
	width: 100%;
}

.servicios__nombre{
	color: white;
	font-size: 25px;
	display: flex;
	justify-content: center;
	margin-top: auto;
	z-index: 50;
}

.servicios__nombre:hover{
	color: yellow;
	font-size: 25px;
	display: flex;
	justify-content: center;
	margin-top: auto;
	z-index: 50;
}

.servicios__info{
	display: none;
}



.portfolio__titulo{
	color: yellow;
	font-size: 25px;
	display: flex;
	justify-content: center;
    margin: 68px auto 0px auto;
}



.portfolio__texto p{
	color: white;
	width: 100%;
	text-align: center;
	margin: 0px auto 20px auto;
}


.portfolio__nav{
	width: 100%;
	justify-content: space-between;
	display: flex;
}

.portfolio__navstand{
	background-image: url(..//imagenes/render1.jpg);
	background-size: cover;
	width: 375px;
	height: 400px;
	display: inline-block;
}

.portfolio__navproductos{
	background-image: url(..//imagenes/RENDERENCENDEDOR.854.jpg);
	background-size: cover;
	width: 375px;
	height: 400px;
	display: inline-block;
}

.portfolio__navinteriores{
	background-image: url(..//imagenes/F7.jpg);
	background-size: cover;
	width: 375px;
	height: 400px;
	display: inline-block;
}

.portfolio__navgrafico{
	background-image: url(..//imagenes/Screenshot1.jpg);
	background-size: cover;
	width: 375px;
	height: 400px;
	margin-bottom: 100px;
	display: inline-block;
}

.portfolio__nombre{
	color: white;
	width: 300px;
	text-align: center;
	font-size: 25px;
	display: flex;
	justify-content: center;
	margin: 120px auto 120px auto;
	z-index: 50;
}

.portfolio__nombre:hover{
	color: yellow;

}

.portfolio__info{
	display: none;
}



.contacto__titulo{
	color: yellow;
	font-size: 25px;
	display: flex;
	justify-content: center;
    margin: 68px auto 0px auto;
}


/*FORMULARIO*/

.contacto__formulario{
	display: flex;
	background-color: #202020;
	margin: 20px auto;
	width: 1000px;
}

.contacto__form{
	display: flex;
	text-align: center;
	padding: 30px;
}

.contacto__formtexto{
	margin: auto;
}

.contacto__formimg{
	display: inline-block;
	margin: auto;

}

.contacto__forminput{
	padding: 7px;
	display: inline-block;
}

.contacto__forminput input{
	width: 350px;
	height: 25px;
	display: inline-block;
	background-color: black;
	border: none;
	border-bottom: 1px yellow solid;
	color: white;
}


.contacto__forminput textarea{
	min-width: 350px;
	min-height: 150px;
	max-width: 350px;
	background-color: black;
	border: none;
	border-bottom: 1px yellow solid;
	color: white;
}

.contacto__direccion{
	color: white;
	font-size: 25px;
	display: flex;
	justify-content: center;
    margin: 20px auto 0px auto;
    height: 50px;
}

.contacto__numero{
	color: white;
	font-size: 25px;
	display: flex;
	justify-content: center;
    margin: 0px auto 0px auto;
}

.contacto__ubicacion{
	color: white;
	font-size: 25px;
	display: flex;
	justify-content: center;
    margin: 0px auto 50px auto;
}

