@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'raleway', sans-serif;
}
.fas {
  font-size: 1.2em;
}
.navbar {
  background-color: #202020;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
  flex-wrap: wrap;
}
.navbar .logo {
  height: 30px;
  width: 30px;
  grid-column: 2 / 3;
  margin: 10px;
}
.navbar .menu {
  grid-column: 3 / 7;
  justify-content: center;
  display: flex;
}
.navbar ul li {
  margin-right: 3em;
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: #757575;
  cursor: pointer;
}

.navbar .bothome{
 grid-column: 2/3;
 width: 30px;
}

.navbar a:hover {
  color: yellow;
}
.navbar .menu-bar {
  display: none;
}

.navbar .logomenu{
  display: inline-flex;
  width: 0.1px;
}



.main {
  height: 80%;
  background-image: linear-gradient(rgba(16, 16, 16, .8), rgba(16, 16, 16, .9)) , url("..//imagenes/render1.jpg");
  background-size: cover;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
  position: relative;
}

.navbarmain{
  display: none;
}
.main .info {
  grid-column: 4 / 8;
  grid-row: 2 / 7;
  color: #fff;
  z-index: 1;
}

.main .info img {
  background: none;
  margin: 30px 15%;
  width: 70%;
  align-self: center;
}

.main .info p {
  font-family: 'raleway', sans-serif;
  text-align: center;
  margin: none 107px;
  font-size: 150%;
}

.footer {
  display: grid;
  height: 80px;
  align-items: center;
  background-color: #181818;
  color: #757575;
  grid-template-areas: 
    "listen-online follow-me social-network" 
}
.footer .numero {
  grid-template-areas: listen-online;
  display: flex;
  justify-content: center;
  color:#757575;
  padding: 26px;
  font-family: montserrat;
}

.footer h2 {
  grid-template-areas: follow-me;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1em;
}
.footer .social-network {
  grid-template-areas: social-network;
  display: flex;
  justify-content: center;
  font-size: 1em;
}
.footer .social-network .fab {
  font-size: 1em;
  color: #757575;
  margin-right: 15px;
  
}



.quienessomos {
  height: 100%;
  background-color: #121212;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 120px 200px 300px 300px;
  position: relative;
}

.quienessomos__titulo {
  font-family: 'raleway', sans-serif;
  text-align: center;
  margin-top: 20px;
  font-size: 150%;
  color: yellow;
  grid-column: 4/8;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quienessomos__texto{
  color: white;
  grid-column: 3/9;
  grid-row: 2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

}
.quienessomos__profilecontainer1{
  grid-column: 3/9;
  grid-row: 3;
  display: flex;
  align-items: center;
}
.quienessomos__profilecontainer2{
  grid-column: 3/9;
  grid-row: 4;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.quienessomos__profileimg img {
  background: none;
  margin: auto 5px auto 5px;
  width: 200px;

}

.quienessomos__profiletext{
  margin: auto 5px auto 5px;
  padding: 20px;
  display: inline-block;
  color: white;
  text-align: center;
}

  .quienessomos__profiletext h3{
  margin: 10px;
}



.serviciosmain{
  display: grid;
  height: 100%;
  background-color: #121212;
  max-width: 100%;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 120px 100px 75px 75px 75px 75px 100px;
  position: relative;
}

.servicios__titulo{
  color: yellow;
  grid-column: 5/7;
  grid-row: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicios__texto{
  color: white;
  grid-column: 3/9;
  grid-row: 2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.servicios__nombre{
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.servicios__navstand{
  grid-column: 1/11;
  grid-row: 3;
  background-image: url("..//imagenes/render1.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.servicios__navproductos{
  grid-column: 1/11;
  grid-row: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("..//imagenes/RENDERENCENDEDOR.854.jpg");
  background-size: cover;
}
.servicios__navinteriores{
  grid-column: 1/11;
  grid-row: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("..//imagenes/F7.jpg");
  background-size: cover;
}
.servicios__navgrafico{
  grid-column: 1/11;
  grid-row: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("..//imagenes/Screenshot1.jpg");
  background-size: cover;
}
.servicios__info{
  color: white;
  display: none;
}



.portfoliomain{
  display: grid;
  height: 100%;
  background-color: #121212;
  max-width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 120px 100px 75px 75px 75px 75px 100px;
  position: relative;
}

.portfolio__titulo{
  color: yellow;
  grid-column: 6/8;
  grid-row: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio__texto{
  color: white;
  grid-column: 4/10;
  grid-row: 2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.portfolio__nombre{
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio__navstand{
  grid-column: 1/4;
  grid-row: 4/7;
  background-image: url("..//imagenes/render1.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio__navproductos{
  grid-column: 4/7;
  grid-row: 4/7;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("..//imagenes/RENDERENCENDEDOR.854.jpg");
  background-size: cover;
}
.portfolio__navinteriores{
  grid-column: 7/10;
  grid-row: 4/7;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("..//imagenes/F7.jpg");
  background-size: cover;
}
.portfolio__navgrafico{
  grid-column: 10/13;
  grid-row: 4/7;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("..//imagenes/Screenshot1.jpg");
  background-size: cover;
}
.portfolio__info{
  color: white;
  display: none;
}

.contactomain{
  display: grid;
  height: 100%;
  background-color: #121212;
  max-width: 100%;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 120px 100px 300px 100px 100px 100px 250px 250px;
  position: relative;
}

.contacto__titulo{
  color: yellow;
  grid-column: 5/7;
  grid-row: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto__formulario{
  display: flex;
  grid-column: 2/10;
  grid-row: 2/4;
  background-color: #202020;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.contacto__form{
  display: flex;
  text-align: center;
  padding: 30px;
}

.contacto__formtexto{
  margin: auto;
}

.contacto__formimg{
  padding: 20px;
  width: 100%;
}

.contacto__forminput{
  padding: 7px;
  display: inline-block;
}

.contacto__forminput input{
  width: 350px;
  height: 25px;
  display: inline-block;
  background-color: black;
  border: none;
  border-bottom: 1px yellow solid;
  color: white;
}


.contacto__forminput textarea{
  min-width: 350px;
  min-height: 150px;
  max-width: 350px;
  background-color: black;
  border: none;
  border-bottom: 1px yellow solid;
  color: white;
}
.contacto__direccion{
  grid-column: 5/7;
  grid-row: 5;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contacto__numero{
  grid-column: 5/7;
  grid-row: 6;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contacto__ubicacion{
  grid-column: 4/8;
  grid-row: 7;
  margin: auto;
}
@media only screen and (max-width: 415px)  {
  
  .navbar {
    background-color: #202020;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    width: 100%;
  }

  .navbar .bothome{
    grid-column: 1/2;
  }
  .navbar .logo {
    height: 30px;
    width: 30px;
    grid-column: 1 / 2;
  }
  .navbar .logomenu{
    grid-column: 8/9;
    grid-row: 1;
    width: 30px;
    height: 30px;
    margin: 10px;
  }
  .navbar {
    position: relative;
  }
  .navbar .menu{
    display: none;
  }


  .main {
    max-width: 480px;
    background-image: linear-gradient(rgba(16, 16, 16, .8), rgba(16, 16, 16, .9)) , url("..//imagenes/render1.jpg");
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 20px 400px 400px 100px;
    position: relative;
  }

  .navbarmain{
    grid-column: 1/7;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  .navbarmain ul{
    display: inline-block;
    margin: auto;
    text-decoration: none;
  }

  .navbarmain li{
    display: inline-block;
    text-decoration: none;
  }

  a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin: 5px;
  }


  .main .info {
    grid-column: 2/6;
    grid-row: 2/3;
    color: #fff;
    z-index: 1;
    margin-bottom: 30px;
  }

  .main .info img {
    background: none;
    margin: 0px;
    width: 100%;
    align-self: center;
    margin-bottom: 50px;
    margin-top: 100px;
  }

  .main .info p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 40px;
  }

  .footer {
    grid-template-areas:
    "listen-online social-network";
    width: 100%;
  }
  .footer h2 {
    display: none;
  }
  .footer .social-network {
    margin: 0 auto;
  }
  .footer .social-network .fab {
    color: #fff;
  }



  .quienessomos {
    height: 100%;
    background-color: #121212;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 120px 200px 300px 300px 300px 450px;
    position: relative;
  }

  .quienessomos__titulo {
    font-family: 'raleway', sans-serif;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: yellow;
    grid-column: 4/8;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .quienessomos__texto{
    color: white;
    grid-column: 2/10;
    grid-row: 2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 75%;
  }
  .quienessomos__profilecontainer1{
    grid-column: 2/10;
    grid-row: 3;
    display: inline-block;
    align-items: center;
  }
  .quienessomos__profilecontainer2{
    grid-column: 2/10;
    grid-row: 5;
    display: inline-block;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  .quienessomos__profileimg img {
    background: none;
    margin: auto;
    width: 80%;
    grid-column: 3/9;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
  }

  .quienessomos__profiletext{
    margin: auto 5px auto 5px;
    padding: 20px;
    display: inline-block;
    color: white;
    text-align: center;
  }

  .quienessomos__profiletext h3{
    margin: 10px;
  }



  .serviciosmain{
  display: grid;
  height: 100%;
  background-color: #121212;
  max-width: 100%;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 120px 100px 120px 120px 120px 120px 50px;
  position: relative;
  }


  .portfoliomain{
  display: grid;
  height: 100%;
  background-color: #121212;
  max-width: 100%;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 120px 100px 120px 120px 120px 120px 50px;
  position: relative;
  }



  .portfolio__titulo{
    color: yellow;
    grid-column: 5/7;
    grid-row: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .portfolio__texto{
    color: white;
    grid-column: 3/9;
    grid-row: 2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  .portfolio__nombre{
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .portfolio__navstand{
    grid-column: 1/11;
    grid-row: 3;
    background-image: url("..//imagenes/render1.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .portfolio__navproductos{
    grid-column: 1/11;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("..//imagenes/RENDERENCENDEDOR.854.jpg");
    background-size: cover;
  }
  .portfolio__navinteriores{
    grid-column: 1/11;
    grid-row: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("..//imagenes/F7.jpg");
    background-size: cover;
  }
  .portfolio__navgrafico{
    grid-column: 1/11;
    grid-row: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("..//imagenes/Screenshot1.jpg");
    background-size: cover;
  }
  .portfolio__info{
    color: white;
    display: none;
  }

  .contacto__formulario{
  display: flex;
  grid-column: 2/10;
  grid-row: 2/4;
  background-color: #202020;
  max-width: 300px;
  justify-content: center;
  align-items: center;
  margin: auto;
  }

  .contacto__form{
    display: inline-block;
    justify-content: center;
    align-items: center;
  }

  .contacto__formimg img{
      display: flex;
      width: 100px;
      margin: auto;
  }

    .contacto__forminput{
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contacto__forminput input{
    width: 280px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: none;
    border-bottom: 1px yellow solid;
    color: white;
  }


  .contacto__forminput textarea{
    min-width: 280px;
    min-height: 75px;
    max-width: 100px;
    background-color: black;
    border: none;
    border-bottom: 1px yellow solid;
    color: white;
  }

  .contacto__direccion{
    grid-column: 3/9;
  }
  .contacto__numero{
    grid-column: 3/9;
  }
  .contacto__ubicacion{
    max-width: 250px;
    max-height: 200px;
    margin: auto;
    grid-column: 2/10;
    display: flex;
    justify-content: center;
  }

}

